body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container-app {
  width: 100vw;
  height: auto;
}

input,
button {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

header {
  width: 100%;
  height: 80px;
  background-color: #6666ff;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-radius: 0 0 10px 10px;
  position: relative;
}

header div {
  width: 90%;
  height: 55%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

header div input {
  width: 100%;
  height: 100%;
  padding: .5em 3.5em .5em 1em;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  font-weight: 400;
  font-size: 15px;
  background-color: #ccccff;
}

header div input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

header div input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

header div input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

header div input:-ms-input-placeholder,
header div input::-webkit-input-placeholder,
header div input:-moz-input-placeholder,
header div input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

header div button {
  position: absolute;
  right: 0;
  top: -2.5%;
  width: 47px;
  height: 47px;
  border-radius: 25px;
  font-size: 130%;
  color: #6666ff;
}

main {
  width: 100vw;
}

main ul.notCompleted,
main ul.completed {
  width: 90%;
  margin: 0 5%;
  padding: 1em 0;
  list-style-type: none;
}

main ul.notCompleted li,
main ul.completed li {
  min-height: 40px;
  width: 100%;
  padding: .5em 1em;
  margin: 10px 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

main ul.notCompleted li .btnContainer,
main ul.completed li .btnContainer {
  align-self: flex-start;
  width: auto;
  height: 100%;
  display: flex;
}

main ul.notCompleted li .btnContainer button,
main ul.completed li .btnContainer button {
  width: auto;
  height: 40px;
  font-size: 130%;
  background-color: transparent;
  color: #ccccff;
  position: relative;
  transition: color .2s ease;
}

main ul.notCompleted li .btnContainer button:first-of-type,
main ul.completed li .btnContainer button:first-of-type {
  padding-right: 1.5em;
}

main ul.notCompleted li .btnContainer button:last-of-type,
main ul.completed li .btnContainer button:last-of-type {
  padding-left: 1.5em;
}

main ul.notCompleted li .btnContainer button:last-of-type:before,
main ul.completed li .btnContainer button:last-of-type:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  min-height: 40px;
  background-color: #ccccff;
}

main ul.notCompleted li .btnContainer button:hover,
main ul.completed li .btnContainer button:hover {
  color: #6666ff;
}

main ul.completed {
  position: relative;
}

main ul.completed .done {
  color: #6666ff;
}

main ul.completed:before {
  content: '';
  width: 50%;
  height: 1px;
  background: #ccccff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

main ul.completed:empty:after {
  content: "You have yet some tasks to complete";
}

main ul.notCompleted:empty:after {
  content: 'You have nothing to do';
}

main ul.completed:after,
main ul.notCompleted:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6666ff;
}
